
.black_ {
	font-color: black;
}

.answer_head {
	font-size: 2em;
	color: black;
	/*text-align: center;*/
}


.question {
	margin-bottom: 20px;
	width: 75%;
	max-width: 420px;
	margin-right: auto;
	margin-left: auto;
	font-size: 1.4em;
	line-height: 1.4;
}

#q1_pic1 {
	width: 35%;
	margin-bottom: 20px;
	max-width: 230px;
}

#q1_pic2 {
 width: 95%;
 max-width: 500px;
}

#q2_pic1 {
	width: 60%;
	max-width: 500px;
	margin-bottom: 15px;
}

#q2_pic2 {
	width: 85%;
	max-width: 500px;
	margin-bottom: 15px;
}

#q2_pic3 {
	width: 92%;
	max-width: 500px;
	margin-bottom: 15px;
}

#q3_pic1 {
	width: 62%;
	max-width: 500px;
	margin-bottom: 15px;
}

#q3_pic2 {
	width: 62%;
	max-width: 500px;
	margin-bottom: 15px;
}


.pic_ctr {
	text-align: center;
}

.arrow {
	width: 137px;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}



.cd-panel-content li {
	color: black;
	  list-style-type: circle;
	  margin-left: 30px;
	  font-size: 1.4em;
}

@media (max-width: 490px) {
	.cd-main-content h1 {
		padding-top: 2em;
	}
	p {
		line-height: 1.7em;
	}
}


   /*pic width for phones*/
@media (max-width: 590px) {
	#pic1 {
		width: 60%;
	}
	.question {
		font-size: 1.1em;
	}
	.cd-panel-content li {
		font-size: 1.1em;
	}
}



.cd-main-content {
	height: 100vh;
	/*background-color: white;*/
}





    /*modify font color in answer panel*/
.cd-panel-content p {
	color: black;
}

.cd-main-content h1 {
	color: white;
    text-shadow: 6px 6px 8px #000000;
}